@import "tailwindcss";

@theme {
  --color-primary-0: #f8eee3;
  --color-primary-1: #f1dec9;
  --color-primary-2: #c8b6a6;
  --color-primary-3: #a4907c;
  --color-primary-4: #8d7b68;
  --font-sans: Tahoma, sans-serif;
}

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
  }

  #root {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    /* Changes the background fill color */
    -webkit-box-shadow: 0 0 0px 1000px var(--color-primary-0) inset !important;

    /* Changes the text color inside the autofilled input */
    -webkit-text-fill-color: black !important;
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: var(--color-primary-3);
  border-radius: 100%;
  padding: 1%;
  cursor: pointer;
}
